--find-links https://download.pytorch.org/whl/torch/
torch==2.5.1+cu124
pytube==15.0.0
moviepy==2.1.2
openai-whisper==20240930
ffmpeg==1.4
openai==1.68.2
streamlit==1.43.2
python-dotenv==1.0.1
aiogram==3.19.0
